@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");

@import "tailwindcss";

@theme inline {
  --color-primary: #a6d719;
  --font-poppins: "Poppins", sans-serif;
}
.text-gray {
  color: #929292;
}
button {
  clip-path: polygon(0 0, 93% 0, 100% 30%, 100% 100%, 7% 100%, 0 70%);
}
@layer base {
  body {
    @apply bg-[#12151f] text-white;
    font-family: "Unbounded", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    @apply text-slate-100 text-base;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
.heading {
  background: #a6d719;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(var(--heading-text-shadow));
  filter: drop-shadow(0px 2px 0px #915700);
  -webkit-text-stroke-color: #035022;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .container {
    @apply px-4 w-full max-w-full;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  /* .heading {
    @apply text-3xl lg:text-[40px] text-white font-semibold mb-5;
  } */

  .heading .highlight {
    @apply text-[#A4A4A4];
  }

  .animation-slide-top {
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .form-label {
    @apply block mb-2 text-base font-normal text-white capitalize;
  }

  .form-control {
    @apply bg-black/25 border border-white/20 text-white text-sm rounded-md block w-full p-2.5 capitalize;
  }
}
header ul li a svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
}
header ul li a svg path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 0.6s ease;
}
header ul li:hover a svg path,
header ul li.active a svg path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease;
}
button {
  @apply cursor-pointer;
}
.btn:after {
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*  */

.go-corner {
  border-radius: 0 4px 0 32px;
}

.card:before {
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(34);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
@keyframes sweep {
  0% {
    background-position: -10000px 0;
  }

  100% {
    background-position: 10000px 0;
  }
}
.download-btn {
  background: linear-gradient(
      60.19deg,
      #ffea01 25.73%,
      rgb(255 255 255 / 40%) 45.27%,
      rgba(133, 239, 49, 0) 62.27%
    ),
    #ffea01;
  animation-duration: 100s;
  box-shadow: 0 3px 0.5px #ffe7018f;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: sweep;
  animation-timing-function: linear;
  /* border-radius: 15px 0 15px 15px; */
  @apply relative px-3 md:px-6 py-2 md:py-2.5 text-sm md:text-base;
}

.slide-card {
  position: relative;
  height: clamp(350px, 19.5vw, 370px);
  width: clamp(130px, 9vw, 160px);
  transition: all 0.5s ease;
  transform: scaleX(1.35);
  margin-top: 20%;
}

.slide-card video {
  justify-self: anchor-center;
}
.slick-slide.slick-active.slick-center.slick-current .slide-card {
  @apply opacity-100  mt-0 z-50;
}
.enjoy-game-shape {
  -webkit-clip-path: ellipse(50% 90% at 50% 100%);
  clip-path: ellipse(50% 90% at 50% 100%);
  height: clamp(100px, 15vw, 170px);
}

@media only screen and (max-width: 600px) {
  .enjoy-game-shape {
    -webkit-clip-path: ellipse(50% 90% at 50% 100%);
    clip-path: ellipse(60% 80% at 50% 100%);
  }
}

.center .slide-card {
  @apply relative before:rounded-[30px] before:absolute before:size-full before:bg-[#231616]/50 before:z-10;
}
.center .slick-center .slide-card {
  @apply before:hidden;
}

.download__btn {
  box-shadow: 0 3px 0.5px #e79021bf;
}
.download__btn img {
  filter: brightness(0);
}
.enjoy-language-bg::before {
  background: url("./assets/images/language-bg.png");
  @apply bg-cover;
}

.marqueeOne__text-style1 {
  transition-property: opacity, transform;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  -webkit-text-stroke: 2.5px rgba(23, 25, 36, 0.85);
  color: transparent;
}
